body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.gradient {
    background: linear-gradient(to right, #ff9200, #febf54);
}

.bg-img {
    background: url(../images/banner.jpg) no-repeat left top / 100% 100%;
    height: 100vh;
}

.six-col {
    border-right: 1px solid gray;
    width: 16.66%;
}

.rd {
    border: none;
}